* {
   box-sizing: border-box;
}
body {
   background: #fff;
   font-family: 'Montserrat', sans-serif;
}
.menu{
   width: 100%;
   padding: 0;
}

.form-auto {
   width: 390px;
   height: 100%;
   padding: 30px 20px 20px;
   margin: 180px auto 30px;
   background: white;
   border-radius: 20px;
   box-shadow: 0 0 100px rgba(50,50,50,1);
}
.form-auto h3 {
   position: relative;
   margin: 0 0 30px;
   text-align: center;
   color: #000;
   font-size: 30px;
   font-weight: bold;
}
.form-row {
   position: relative;
   margin-bottom: 30px;
}
.form-row input {
   display: block;
   width: 100%;
   padding: 0 10px;
   line-height: 40px;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   background: none;
   border-radius: 10px;
   border: 1px solid #000;
}

.form-row label {
   position: absolute;
   left: 13px;
   color: #9d959d;
   font-size: 15px;
   transform: translateY(-30px);
   transition: all 0.2s ease;
}
.form-row input:focus {
   outline: 0;
   border-color: #99b4dc;
}
.form-row input:focus+label, .form-row input:valid+label {
   transform: translateY(-60px);
   margin-left: -14px;
   font-size: 14px;
   font-weight: 400;
   outline: 0;
   border-color: #99b4dc;
   color: #99b4dc;
}
.form-auto input[type="submit"] {
   width: 225px;
   height: 45px;
   padding: 0;
   margin: 0 auto 20px;
   display: block;
   line-height: 42px;
   background: #99b4dc;
   border-width: 0;
   color: white;
   font-size: 15px;
   border-radius: 10px;
}
.form-auto p {
   margin: 0;
   padding-top: 10px;
   font-weight: bold;
}


.menu input[type="submit"] {
   width: fit-content;
   height: 45px;
   padding-left: 10px;
   padding-right: 10px;
   margin: 0 auto 20px;
   display: block;
   line-height: 42px;
   background: #fff;
   border-width: 0;
   color: black;
   font-size: 15px;
   border-radius: 10px;
   font-weight: bold;
   letter-spacing: 2px;
}

.menu p {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding-top: 10px;
   font-weight: bold;
}