<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Приемное отделение</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body style="background: #99b4dc">

<form action="" class="form-auto">
<h3>Войти в систему</h3>
<div class="form-row">
<input type="text" id="login" required autocomplete="off"><label for="login">Логин</label>
</div>
<div class="form-row">
<input type="password" id="password" required autocomplete="off"><label for="password">Пароль</label>
</div>
<p><input type="submit" value="ВОЙТИ" onclick='location.href="main_page"'></p>
</form>

</body>
</html>